/**
 * @file
 * This file contains theming for the myAlerts module.
 */

.myalerts-item {
  padding: 0.5em 0;
  position: relative;
  border: 2px solid transparent;
}

.myalerts-item .icon {
  content: "";
  width: 32px;
  height: 32px;
  margin: 2px;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(../images/icons/warning-icon.svg);
  background-position: center;
  display: inline-block;
  vertical-align: middle;
}

.myalerts-item .button {
  margin: 0 0.5em 0 0;
  border: 2px solid #595959;
  background: #FFFFFF;
  width: 36px; /* width of alert icon plus 4px due to margin around alert item*/
  height: 36px;
  display: inline-block;
  vertical-align: middle;
}

.myalerts-item button {
  color: transparent;
  text-indent: -9999px;
  width: 100%;
  height: 100%;
  border: none;
  background: transparent;
}

.myalerts-item button::after {
  content: "Mark item as complete";
  display: none;
  position: absolute;
  left: 46px; /* width of button plus 10px for space */
  top: 0.5em;
  width: 13em;
  text-indent: 0;
  border: 1px solid #595959;
  background-color: #dedede;
  color: #262729;
  text-align: center;
  z-index: 5;
}

.myalerts-item button:hover {
  background-image: url('../images/icons/greencheck.svg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.myalerts-item button:hover::after {
  display: block;
}

.myalerts-item.level1 .icon {
  background-image: url('../images/icons/stop-icon.svg');
  background-position: center;
  background-size: contain;
}

.myalerts-item.level1 {
  background-color: #FFCACA;
  border: 2px solid #AE1E19;
}

.myalerts-item.dismissible {
  background-color: none;
  border: none;
}

.myalerts-item.dismissible .icon {
  display: none;
}

.myalerts-item.completed .icon {
  background-position: center;
  background-image: url('../images/icons/greencheckfill.svg');
  background-size: contain;
}

.myalerts-item.dismissed .button {
  border: none;
  position: absolute;
  top: 0;
  left: 0;
  background: transparent;
}

.myalerts-item.dismissed button::after {
  content: "Undo completed item";
  display: none;
  position: absolute;
  left: 46px; /* width of button plus 10px for space */
  top: 0.5em;
  width: 13em;
  text-indent: 0;
  border: 1px solid #595959;
  background-color: #dedede;
  color: #262729;
  text-align: center;
  z-index: 5;
}

.myalerts-item.dismissed button:hover {
  background-image: none;
}

.myalerts-item.dismissed button:hover::after {
  display: block;
}
